.add-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff0f6;
  padding: 40px;
  box-sizing: border-box;
}

.add-product-form {
  background-color: rgb(192, 103, 158);
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.form-label {
  display: block;
  font-weight: 600;
  color: #880e4f;
  margin-bottom: 8px;
  margin-top: 20px;
}

.form-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px pink;
  font-size: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #fff0f6;
  color: black;
}

.form-button {
  margin-top: 20px;
  background-color: #aa2b71;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #c2185b;
}