.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff0f6;
  padding: 20px;
  box-sizing: border-box;
}

.login-form {
  background-color: white;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; 
  box-sizing: border-box;
}

.login-label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #880e4f;
  margin-bottom: 20px;
}

.login-input {
  margin-top: 8px;
  padding: 12px;
  border: 1px solid #f48fb1;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff0f6;
  color: black;
}

.login-button {
  background-color: #ec407a;
  color: white;
  padding: 12px;
  width: 100%; /* 👈 Que el botón ocupe todo el ancho */
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #c2185b;
}